@layer vocs_preflight {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

:root:not(.dark) img[src*="dark.svg"] {
  display: none;
}

.dark img[src*="light.svg"] {
  display: none;
}

:root:not(.dark) img[src*="dark.png"] {
  display: none;
}

.dark img[src*="light.png"] {
  display: none;
}

/* img[alt="Axiom"] {
  filter: invert(1);
} */

.vocs_Sponsors_image[src$=".webp"],
.vocs_Sponsors_image[src$=".png"] {
  width: auto;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  max-height: var(--height);
}
